<div class="mt-5 container p-5 bg-light shadow rounded">
    <div class="row align-items-center">
      <!-- Left Section: Account Info -->
      <div class="col-md-6">
        <h2 class="text-primary fw-bold">Account Page</h2>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum corporis
          eligendi reprehenderit, aliquam consequuntur quibusdam ut odit eum! Sed,
          illo.
        </p>
        <a href="#" class="btn btn-outline-primary mt-3">More Info</a>
      </div>
  
      <!-- Right Section: Dynamic Content -->
      <div class="col-md-6 d-flex justify-content-center">
        <div class="p-4 w-100 bg-white shadow-sm rounded">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  