<div class="mt-5 container p-4 bg-light shadow rounded">
  <h2 class="text-center text-primary mb-4">Our Products</h2>

  <!-- Top Section: Add Button & Search -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <button
      class="btn btn-primary d-flex align-items-center"
      [routerLink]="['/products', 0, 'edit']"
    >
      <i class="bi bi-plus-lg me-2"></i> Add New Product
    </button>
    <input type="text" class="form-control w-25 shadow-sm" placeholder="Search ..." />
  </div>

  <!-- Table Section -->
  <div class="table-responsive">
    <table class="table table-hover align-middle text-center">
      <thead class="table-primary">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track product.id) {
        <tr class="bg-white shadow-sm">
          <th scope="row">{{ product.id }}</th>
          <td class="fw-semibold">{{ product.name }}</td>
          <td>${{ product.price }}</td>
          <td>10</td>
          <td>
            <a [routerLink]="['/products', product.id, 'edit']" class="text-info">
              <i class="fs-4 mx-2 bi bi-pencil-square"></i>
            </a>
            <a [routerLink]="['/products', product.id]" class="text-warning">
              <i class="fs-4 mx-2 bi bi-eye-fill"></i>
            </a>
            <i class="fs-4 mx-2 text-danger bi bi-trash-fill cursor-pointer"></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
