<div class="bg-light mt-5 p-5 text-dark container shadow rounded text-center">
    <h1 class="text-primary mb-4">Product Details</h1>
  
    <div class="p-4 bg-white rounded shadow-sm">
      <p class="lead fs-4">
        <strong class="text-secondary">Product Name:</strong>{{product?.name}}
      </p>
      <p class="lead fs-4">
        <strong class="text-secondary">Product Price:</strong> {{product?.price | currency}}
      </p>
      <p class="lead fs-4">
        <strong class="text-secondary">Product Quantity:</strong> {{product?.quantity}}
      </p>
    </div>
  
    <button class="mt-4 btn btn-outline-primary btn-lg" [routerLink]="['/products']">
      <i class="bi bi-arrow-left"></i> Back to Products
    </button>
  </div>
  